<div class="container">
  <div class="my-5 index-header">
    <h1 class="text-center display-3">OUR COCKTAILS</h1>
    <%= link_to "New Cocktail", new_cocktail_path, class: "btn new-cocktail" %>
  </div>
  <div id="card-grid">
    <div id="feature1" class="card-category btn" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @cocktails.first.image_url %>)">
        <%= link_to @cocktails.first.name, cocktail_path(@cocktails.first), class: "text-white" %>
    </div>
    <div id="feature2" class="card-category btn" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @cocktails.second.image_url %>)">
        <%= link_to @cocktails.second.name, cocktail_path(@cocktails.second), class: "text-white" %>
    </div>
    <% @cocktails[3..-1].each do |cocktail| %>
      <div class="card-category btn unfeatured" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.image_url %>)">
        <%= link_to cocktail.name, cocktail_path(cocktail), class: "text-white" %>
      </div>
    <% end %>
  </div>
</div>
