<div class="container">
  <%= link_to "Go back", root_path %>

  <div class="cocktail-display">
    <h1 class="cocktail-name display-1"><%= @cocktail.name %></h1>
    <%= image_tag @cocktail.image_url %>
  </div>
  <div class="cocktail-buttons">
    <span><%= link_to "Delete", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" }, class: "btn" %> | <%= link_to "Edit", edit_cocktail_path(@cocktail), class: "btn" %></span>
  </div>
  <div>
    <p><%= @cocktail.description %> </p>
    <ul class="list-group">
      <% @cocktail.doses.each do |dose| %>
      <li class="list-group-item d-flex justify-content-between"><span><%= dose.description %> <%= dose.ingredient.name %></span><span><%= link_to "x", dose_path(dose), method: :delete, class: "btn btn-danger" %></span></li>
      <% end %>
    </ul>
  <hr>
  <div class="">
    Add an ingredient:
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient, collection: @ingredients.order(:name) %>
      <%= f.submit %>
    <% end %>
  </div>

</div>
